{{#each states as |state|}}
  <section data-id="{{state.id}}">
    <h6>State Name:</h6>
    <h3>
      {{limit state.State_name 15}}
    </h3>
    <p>

    </p>
  </section>

{{/each}}

<!-- {{#each books as |book|}}
  {{log book}}
  <section data-id="{{book.id}}">
    <h6>Title:</h6>
    <h3>
      {{limit book.title 15}}
    </h2>
    <h6>Author:</h6>
    <p>
      {{#if book.author}}
        {{book.author}}
      {{else}}
        No author provided.
      {{/if}}
    </p>
    {{> partial}}
    <button data-id="{{book.id}}" class="btn btn-danger delete-book">Delete Book!</button>
  </section>

{{/each}} -->
