<div>
  <form id="update-state" class="update-state">
    <h5>Update a state</h5>
      <input type="hidden" name="state[id]" value="{{state.id}}" required class="hide"><br>

      <label for="state[state_name]">State Name:</label>
      <input type="text" name="state[state_name]" value="{{state.state_name}}" required><br>

      <label for="state[date_visited]">Date Visited:</label><input type="text" name="state[date_visited]" placeholder="YYYY-MM-DD" required
      pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
      title="Enter a date in this format YYYY-MM-DD" value="{{state.date_visited}}" /><br>

      <label for="state[highlight]">Highlight:</label>
      <textarea name="state[highlight]" rows="3" required>{{state.highlight}}</textarea><br>

      <label for="state[revisit]">Would you go back for a visit?</label><br>
      <input type="radio" name="state[revisit]" value="{{state.revisit}}"checked>Yes, I would go back<br>
      <input type="radio" name="state[revisit]" value="{{state.revisit}}"> No, I wouldn't go back<br>


      <button class="btn btn-info mr-2">Update State!</button>
  </form>

<button class="btn btn-outline-secondary cancel-btn" id="cancel-btn">Cancel!</button>

</div>
