{{#each states as |state|}}
  <section data-id="{{state.id}}">
    <h6>State Name:</h6>
    <h3>
      {{state.state_name}}
    </h3>
    <h6>Date Visited:</h6>
    <h3>
      {{state.date_visited}}
    </h3>
    <h6>Highlights:</h6>
    <h3>
      {{state.highlight}}
    </h3>
    <h6>Revisit:</h6>
    <h3>
      {{state.revisit}}
    </h3>
    <p>

    </p>
  </section>

{{/each}}
