{{#each states as |state|}}

  <section data-id="{{state.id}}" id={{state.id}} data-state={{state.state_name}} class="center">
    <table class="center">
      <tr>
        <td><h5>State Name:</h5></td>
        <td><p>  {{state.state_name}}  </p></td>
      </tr>
      <tr>
        <td><h5>Date Visited:</h5></td>
        <td><p>  {{state.date_visited}}  </p></td>
      </tr>
      <tr>
          <td><h5>Highlights:</h5></td>
          <td><p> {{state.highlight}}  </p></td>
      </tr>
      <tr>
        <td><h5>Revisit:</h5></td>
        <td><p>  {{state.revisit}} </p></td>
      </tr>
      <tr>
        <td><h5>State ID:</h5></td>
        <td><p>  {{state.id}}  </p></td>
      </tr>
      <tr>
        <td><button class="btn-info mr-2 edit-btn" id="edit-btn">Edit</button></td>
        <td><button id="delete-states-btn" class="btn-info mr-2 delete-states-btn">Delete</button></td>
      </tr>
  </table>

  </section>

{{/each}}
